{% extends 'base.html' %}
{% block content %}

{% if object %}
  <h1 class="grey-text text-lighten-2 center-align">Edit <span class="blue-text text-darken-1">{{ object.name }}</span></h1>
{% else %}
  <h1 class="grey-text text-lighten-2 center-align">Add Food</h1>
{% endif %}


<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit!" class="btn blue darken-1">
</form>
<br>
{% if object %}
  <a href="{% url 'foods_delete' object.id %}" class="btn blue darken-1">Delete</a>
{% endif %}

{% endblock %}