{% extends 'base.html' %}

{% block content %}
  <h1 class="grey-text text-lighten-2 center-align">Delete Food</h1>

  <h4 class="grey-text text-lighten-1 center-align">Are you sure you want to delete <span class="red-text">{{ object.name }}</span>?</h4>

  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes - Delete!" class="left waves-effect waves-light btn red z-depth-3">
    <a href="{% url 'foods_list' %}" class="right waves-effect waves-light btn red z-depth-3">Cancel</a>
  </form>
{% endblock %}