

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Calendar</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body class="grey darken-4">
        <header class="navbar-fixed black">
            <nav>
                <div class="nav-wrapper black">
                    <ul>
                        <li><a href="{% url 'day' curMonth curDay curYear %}" class="left brand-logo">&nbsp;&nbsp;Meal Tracker</a></li>
                    </ul>
                    <ul class="right">
                        {% if user.is_authenticated %}
                            <li><a class="waves-effect waves-light btn-small black" href="{% url 'calendar' %}">Calendar</a></li>
                            <li><a class="waves-effect waves-light btn-small black" href="{% url 'foods_list' %}">Food List</a></li>
                            <li><a class="waves-effect waves-light btn-small black" href="{% url 'foods_create' %}">Add Food</a></li>
                            <li>
                                <form action="{% url 'logout' %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="waves-effect waves-light btn-large black">Log Out</button>
                                </form>
                            </li>
                        {% else %}
                            <li><a class="waves-effect waves-light btn-small black" href="{% url 'signup' %}">Sign Up</a></li>
                            <li><a class="waves-effect waves-light btn-small black" href="{% url 'login' %}">Log In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container">
            {% if object %}
                <h1 class="grey-text text-lighten-2 center-align">Edit Profile</h1>
            {% else %}
                <h1 class="grey-text text-lighten-2 center-align">Create Profile</h1>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Submit!" class="btn waves-effect waves-light blue darken-1 z-depth-3">
            </form>
        </main>
    </body>
</html>