{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Calendar</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header class="navbar-fixed black">
            <nav>
                <div class="nav-wrapper black">
                    <ul>
                        <li><a href="{% url 'day' curMonth curDay curYear %}" style="font-size:40px" class="left brand-logo">&nbsp;&nbsp;Meal Tracker</a></li>
                        {% if user.is_authenticated and profile %}
                            <li><a href="{% url 'profile_detail' profile.id %}" class="brand-logo center" style="font-size:28px">{{ profile.firstname }} {{ profile.lastname }}</a></li>
                        {% else %}
                            <li><a href="{% url 'profile_create' %}" class="brand-logo center" style="font-size:28px">Add Profile</a></li>
                        {% endif %}
                    </ul>
                    <ul class="right">
                        {% if user.is_authenticated %}
                        <li><a class="waves-effect waves-light btn black" href="{% url 'calendar' %}">Calendar</a></li>
                        <li><a class="waves-effect waves-light btn black" href="{% url 'foods_list' %}">Food List</a></li>
                        <li><a class="waves-effect waves-light btn black" href="{% url 'foods_create' %}">Add Food</a></li>
                        <li>
                            <form action="{% url 'logout' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit"  class="waves-effect waves-light btn-large black">Log Out</button>
                            </form>
                        </li>
                        {% else %}
                            <li><a class="waves-effect waves-light btn black" href="{% url 'signup' %}">Sign Up</a></li>
                            <li><a class="waves-effect waves-light btn black" href="{% url 'login' %}">Log In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <main class="calendarBody">
            <div class="wrapper">
                <header>
                    <h1 class="grey-text text-lighten-1">{{ curMonthText}} {{ curYear }}</h1>
                    <div class="icons">
                        <form action="{% url 'calendar' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="curMonth" value="{{ curMonth }}">
                            <button name="prev" value="-" class="waves-effect waves-light btn-small grey darken-3 z-depth-3"><</button>
                            <button name="next" value="+" class="waves-effect waves-light btn-small grey darken-3 z-depth-3">></button>
                        </form>
                    </div>
                </header>
                <div class="calendar grey-text text-lighten-3">
                    <ul class="weeks">
                        <li>Sun</li>
                        <li>Mon</li>
                        <li>Tue</li>
                        <li>Wed</li>
                        <li>Thu</li>
                        <li>Fri</li>
                        <li>Sat</li>
                    </ul>
                    <ul class="days">
                        {% for i in firstInactiveDays %}
                            <li class="inactive"><span style="display: block; height: 100%; text-align: right; margin-right: 15px; margin-top: 10px;">{{ i }}</span></li>
                        {% endfor %}
                        {% for i in activeDays %}
                            {% if i == todayDay and curMonth == todayMonth and curYear == todayYear %}
                                <li class="active">
                                    <a href="{% url 'day' curMonth i curYear %}" style="display: block; height: 100%; text-align: right; margin-right: 15px; margin-top: 10px;">
                                        {{ i }}
                                    </a>
                                    {% if i in mealdates %}
                                        <a href="{% url 'day' curMonth i curYear %}">
                                            <div style="color: white; margin-top: -100px; background: #d32f2f;">Meal</div>
                                        </a>
                                    {% endif %}
                                    {% if i in weightdates %}
                                        <a href="{% url 'day' curMonth i curYear %}">
                                            <div style="color: white; margin-top: -100px; background: rgb(124, 179, 66);">Weight</div>
                                        </a>
                                    {% endif %}
                                    {% if i in bothdates %}
                                        <a href="{% url 'day' curMonth i curYear %}">
                                            <div style="color: white; margin-top: -100px; background: #d32f2f;;">Meal</div>
                                            <div style="color: white; background: rgb(124, 179, 66);">Weight</div>
                                        </a>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'day' curMonth i curYear %}" style="display: block; height: 100%;text-align: right; margin-right: 15px; margin-top: 10px;">{{ i }}</a>
                                    {% if i in mealdates %}
                                        <a href="{% url 'day' curMonth i curYear %}">
                                            <div style="color: white; margin-top: -100px; background: #d32f2f;">Meal</div>
                                        </a>
                                    {% endif %}
                                    {% if i in weightdates %}
                                        <a href="{% url 'day' curMonth i curYear %}">
                                            <div style="color: white; margin-top: -100px; background: rgb(124, 179, 66);">Weight</div>
                                        </a>
                                    {% endif %}
                                    {% if i in bothdates %}
                                        <a href="{% url 'day' curMonth i curYear %}">
                                            <div style="color: white; margin-top: -100px; background: #d32f2f;;">Meal</div>
                                            <div style="color: white; background: rgb(124, 179, 66);">Weight</div>
                                        </a>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% for i in lastInactiveDays %}
                            <li class="inactive"><span style="display: block; height: 100%; text-align: right; margin-right: 15px; margin-top: 10px;">{{ i }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </main>
    </body>
</html>