{% extends 'base.html' %}
{% block content %}



<body class="row grey darken-4">
    <header class="col-s8" id="dayHeader">
        <h1>{{ month }} {{ curDay }}, {{ curYear }}</h1>
    </header>
    <main id="dayMain">
        <a href="{% url 'daybody' curMonth curDay curYear %}">
            <div class="column col-s4 z-depth-3">
                <h2 class="dayMainHead light-green-text text-darken-1">Weigh-In</h2>
            </div>
        </a>
        <a href="{% url 'daymeal' curMonth curDay curYear %}">
            <div class="column col-s4 z-depth-3">
                <h2 class="dayMainHead red-text">Meal Plan</h2>
            </div>
        </a>
        <div class="column col-s4 z-depth-3">
            <h2 class="dayMainHead blue-text text-darken-2">Workout</h2>
        </div>
    </main>
</body>

{% endblock %}