{% extends 'base.html' %}
{% block content %}



<body id="dayBody">
    <header id="dayHeader">
        <h1>{{ month }} {{ curDay }}, {{ curYear }}</h1>
    </header>
    <main id="dayMain">
        <div class="column">
            <h2><a href="{% url 'daybody' curMonth curDay curYear %}">Weigh-In</a></h2>
        </div>
        <div class="column">
            <h2><a href="{% url 'daymeal' curMonth curDay curYear %}">Meal Plan</a></h2>
        </div>
        <div class="column">
            <h2>Workout</h2>
        </div>
    </main>
</body>

{% endblock %}