{% extends 'base.html' %}
{% block content %}

<h1 class="grey-text text-lighten-2 center-align"><span class="red-text ">Meals</span> for {{ month }} {{ curDay }}, {{ curYear }}</h1>

<table class="container grey darken-2 z-depth-5">
    <caption class="grey-text text-lighten-2">
        <h5>Total Calories: {{ totalCalories }} &nbsp;&nbsp;&nbsp; Total Carbs: {{ totalCarbs }} &nbsp;&nbsp;&nbsp; Total Protein: {{ totalProtein }}</h5>
    </caption>
    <thead class="grey-text text-lighten-2">
        <tr>
            <td></td>
            <th id="stud" scope="col">
                Calories
            </th>
            <th id="apt" scope="col">
                Carbs
            </th>
            <th id="chal" scope="col">
                Protein
            </th>
            <th id="villa" scope="col">
                Weight(grams)
            </th>
            <th id="villa" scope="col">
                Servings
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody class="grey-text text-lighten-1">
        <tr>
            <th class="grey-text text-darken-4" id="par" class="span" colspan="5" scope="colgroup">
                Breakfast
            </th>
        </tr>
        {% for meal in meals %}
            {% if meal.mealType == "B" %}
                {% for food in meal.food.all %}
                <tr>
                    <th headers="par" id="pbed1">
                        {{food.name}}
                    </th>
                    <td headers="par pbed1 stud">
                        {{food.calories}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.carbs}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.protein}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.amount}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.servings}}
                    </td>
                    <td>
                        <form action="{% url 'remove_food' curMonth curDay curYear meal.id food.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="waves-effect waves-light btn-small red darken-2 z-depth-2">X</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <tr> 
            <th class="grey-text text-darken-4" id="rome" class="span" colspan="5" scope="colgroup">
                Lunch
            </th>
        </tr>
        {% for meal in meals %}
            {% if meal.mealType == "L" %}
                {% for food in meal.food.all %}
                <tr>
                    <th headers="par" id="pbed1">
                        {{food.name}}
                    </th>
                    <td headers="par pbed1 stud">
                        {{food.calories}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.carbs}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.protein}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.amount}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.servings}}
                    </td>
                    <td>
                        <form action="{% url 'remove_food' curMonth curDay curYear meal.id food.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="waves-effect waves-light btn-small red darken-2 z-depth-2">X</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <tr>
            <th class="grey-text text-darken-4" id="rome" class="span" colspan="5" scope="colgroup">
                Dinner
            </th>
        </tr>
        {% for meal in meals %}
            {% if meal.mealType == "D" %}
                {% for food in meal.food.all %}
                <tr>
                    <th headers="par" id="pbed1">
                        {{food.name}}
                    </th>
                    <td headers="par pbed1 stud">
                        {{food.calories}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.carbs}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.protein}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.amount}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.servings}}
                    </td>
                    <td>
                        <form action="{% url 'remove_food' curMonth curDay curYear meal.id food.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="waves-effect waves-light btn-small red darken-2 z-depth-2">X</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <tr>
            <th class="grey-text text-darken-4" id="rome" class="span" colspan="5" scope="colgroup">
                Additional Meal
            </th>
        </tr>
        {% for meal in meals %}
            {% if meal.mealType == "A" %}
                {% for food in meal.food.all %}
                <tr>
                    <th headers="par" id="pbed1">
                        {{food.name}}
                    </th>
                    <td headers="par pbed1 stud">
                        {{food.calories}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.carbs}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.protein}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.amount}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.servings}}
                    </td>
                    <td>
                        <form action="{% url 'remove_food' curMonth curDay curYear meal.id food.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="waves-effect waves-light btn-small red darken-2 z-depth-2">X</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
<br>
<div class="divider grey darken-1"></div>
<h5 class="grey-text text-lighten-2">Available Foods</h5>
<form action="{% url 'assoc_food' curMonth curDay curYear %}" method="POST">
    {% csrf_token %}
    {{ meal_form.as_p }}
    <select name="foodChoice" style="display: block; width: 20vw;" class="grey darken-3 white-text">
        {% for food in foods.all %}
            <option class="grey-text text-lighten-2" value="{{ food.name }}" style="color: red">{{ food.name }}</option>
        {% endfor %}
    </select>
    {{ meal_food_item_form.as_p }}
    <button type="submit" class="waves-effect waves-light btn red z-depth-3">Add</button>
    <br>
    <br>
</form>

<script>
    const selectEl = document.getElementById('id_mealType');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}
