{% extends 'base.html' %}
{% block content %}

<h1>Meals for {{ month }} {{ curDay }}, {{ curYear }}</h1>

<table summary="Column one has the location and size of accommodation, other columns show the type and number of properties available">
    <caption>
        Available Caption
    </caption>
    <thead>
        <tr>
            <td></td>
            <th id="stud" scope="col">
                Calories
            </th>
            <th id="apt" scope="col">
                Carbs
            </th>
            <th id="chal" scope="col">
                Protein
            </th>
            <th id="villa" scope="col">
                Weight(grams)
            </th>
            <th id="villa" scope="col">
                Servings
            </th>
            <th id="villa" scope="col">
                Favorite?
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th id="par" class="span" colspan="5" scope="colgroup">
                Breakfast
            </th>
        </tr>
        {% for m in meal %}
            {% if m.mealType == "B" %}
                {% for food in m.foodname %}
                <tr>
                    <th headers="par" id="pbed1">
                        {{food}}
                    </th>
                    <td headers="par pbed1 stud">
                        {{food.calories}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.carbs}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.protein}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.amount}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{m.servings}}
                    </td>
                    {% if m.favorited %}
                        <td headers="par pbed1 apt">
                            *
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <tr> 
            <th id="rome" class="span" colspan="5" scope="colgroup">
                Lunch
            </th>
        </tr>
        {% for m in meal %}
            {% if m.mealType == "L" %}
                {% for food in m.food.all %}
                <tr>
                    <th headers="par" id="pbed1">
                        {{food.name}}
                    </th>
                    <td headers="par pbed1 stud">
                        {{food.calories}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.carbs}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.protein}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.amount}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{m.servings}}
                    </td>
                    {% if m.favorited %}
                        <td headers="par pbed1 apt">
                            *
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <tr>
            <th id="rome" class="span" colspan="5" scope="colgroup">
                Dinner
            </th>
        </tr>
        {% for m in meal %}
            {% if m.mealType == "D" %}
                {% for food in m.foodname.all %}
                <tr>
                    <th headers="par" id="pbed1">
                        {{food}}
                    </th>
                    <td headers="par pbed1 stud">
                        {{food.calories}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.carbs}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.protein}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.amount}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{m.servings}}
                    </td>
                    {% if m.favorited %}
                        <td headers="par pbed1 apt">
                            *
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}

        <tr>
            <th id="rome" class="span" colspan="5" scope="colgroup">
                Additional Meal
            </th>
        </tr>
        {% for m in meal %}
            {% if m.mealType == "A" %}
                {% for food in m.food.all %}
                <tr>
                    <th headers="par" id="pbed1">
                        {{food.name}}
                    </th>
                    <td headers="par pbed1 stud">
                        {{food.calories}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.carbs}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.protein}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{food.amount}}
                    </td>
                    <td headers="par pbed1 stud">
                        {{m.servings}}
                    </td>
                    {% if m.favorited %}
                        <td headers="par pbed1 apt">
                            *
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}

    </tbody>
    </table>
    

{% endblock %}
