body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

a {
    color: inherit;
    text-decoration: none;
}

.calendarBody {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    min-height: 90vh;
    width:100vw;
}

.wrapper {
    width: 95%;
    height: 80vh;
    margin-bottom: 10vh;
}

.calendar {
    padding: 20px;
    height: 90%;
}

.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
    gap: 2px;
}

.calendar ul li {
    width: calc(99% / 7);
}

.calendar .days {
    margin-bottom: 20px;
    height: 100%;
}

.calendar .days li {
    cursor: pointer;
    background: lightgrey;
}

.wrapper {
    background: white;
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .currentDate {
    font-size: 1.45rem;
    font-weight: 500;
}

.inactive {
    color: rgb(172, 172, 172);
}

.active {
    color: #fb3640;
}