body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

a {
    color: inherit;
    text-decoration: none;
}

.calendarBody {
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgrey;
    min-height: 90vh;
    width:100vw;
}

.wrapper {
    width: 95%;
    height: 80vh;
    margin-bottom: 10vh;
}

.calendar {
    padding: 0 10px 20px;
    height: 90%;
}

.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
    gap: 2px;
}

.calendar ul li {
    width: calc(99% / 7);
}

.calendar .days {
    margin-bottom: 20px;
    height: 100%;
}

.calendar .days li {
    cursor: pointer;
    background: white;
}

.wrapper {
    background: lightgrey;
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}

.inactive {
    color: rgb(172, 172, 172);
}

.active {
    color: #fb3640;
}

#dayBody {
    background-color: #15151e;
    font-family: Futura, sans-serif;
    margin: 0;
    padding: 0;
}

#dayHeader {
    background-color: #1a1933;
    color: #aaa8d6;
    text-align: center;
    padding: 1em;
}

#dayMain {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
    color: #8987c5;
    background-color: #20202d;
    border: 1px solid #36354b;
    border-radius: 8px;
    height: 100vh;
}