body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

a {
    color: inherit;
    text-decoration: none;
}

.calendarBody {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #bcd3f1;
}

.wrapper {
    width: 450px;
    background: #F2F2EF;
    border-radius: 10px;
}

.calendar {
    padding: 20px;
}

.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li {
    width: calc(100% / 7);
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar .days li {
    cursor: pointer;
    margin-top: 30px;
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .currentDate {
    font-size: 1.45rem;
    font-weight: 500;
}

.inactive {
    color: rgb(172, 172, 172);
}

.active {
    color: #fb3640;
}